{% extends 'base.html.twig' %}
{% block title %} Eco System {% endblock %}
{% block Containt %}
    <div class="page-banner-section section">
        <div class="page-banner-wrap row row-0 d-flex align-items-center ">

            <!-- Page Banner -->
            <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
                <div class="page-banner">
                    <h1>About us</h1>
                    <div class="breadcrumb">
                        <ul>
                            <li><a href="{{ path('homepage') }}">Accueil</a></li>
                            <li><a href="#">about</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Banner -->
            <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            </div>

            <!-- Banner -->
            <div class="col-lg-4 col-md-6 col-12 order-lg-3">
            </div>

        </div>
    </div><!-- Page Banner Section End -->

    <!-- About Section Start -->
    <div class="about-section section mt-90 mb-30">
        <div class="container">

            <div class="row row-30 mb-40">

                <!-- About Image -->
                <div class="about-image col-lg-6 mb-50">
                    <img src="assets/images/about/about-1.png" alt="">
                </div>

                <!-- About Content -->
                <div class="about-content col-lg-6">
                    <div class="row">
                        <div class="col-12 mb-50">
                            <h1>BIENVENUE À <span>Eco System</span></h1>
                            <p>Eco System
                                Décrivez comment cette idée erronée de dénoncer le plaisir et de chanter la douleur est née, vous donnera un compte rendu complet du système et exposera les enseignements actuels de l'explorateur mangeur de la vérité, la mer de l'humain.</p>
                        </div>

                        <div class="col-12 mb-50">
                            <h4>
                                NOUS COMMENCONS À 2019</h4>
                            <p>Eco System
                                Décrivez comment cette idée erronée de dénoncer le plaisir et de chanter la douleur est née, vous donnera un compte rendu complet du système et exposera les enseignements actuels de l'explorateur mangeur de la vérité, la mer de l'humain.</p>
                        </div>



                    </div>
                </div>

            </div>

            <div class="row row-10 mb-60">

                <!-- Banner -->
                <div class="col-md-3 mb-20">
                    <div class="banner"><a href="#"><img src="assets/images/banner/banner-43.jpg" alt="Banner"></a></div>
                </div>

                <!-- Banner -->
                <div class="col-md-9">
                    <div class="row row-10">

                        <div class="col-md-6 col-12 mb-20"><div class="banner"><a href="#"><img src="assets/images/banner/banner-44.jpg" alt="Banner"></a></div></div>
                        <div class="col-md-6 col-12 mb-20"><div class="banner"><a href="#"><img src="assets/images/banner/banner-45.jpg" alt="Banner"></a></div></div>

                    </div>
                </div>

            </div>

            <!-- Mission, Vission & Goal -->
            <div class="about-mission-vission-goal row row-20 mb-40">

                <div class="col-lg-4 col-md-6 col-12 mb-40">
                    <h3>NOTRE VISION
                    </h3>
                    <p>Eco System provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a ete account of the system, and expound the actual teangs the eat explorer of the truth, the mer of human tas assumenda est, omnis dolor repellend</p>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-40">
                    <h3>NOTRE MISSION
                    </h3>
                    <p>Eco System provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a ete account of the system, and expound the actual teangs the eat explorer of the truth, the mer of human tas assumenda est, omnis dolor repellend</p>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-40">
                    <h3>NOTRE OBJECTIF
                    </h3>
                    <p>Eco System provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a ete account of the system, and expound the actual teangs the eat explorer of the truth, the mer of human tas assumenda est, omnis dolor repellend</p>
                </div>

            </div>

            <div class="row mb-30">

                <!-- About Section Title -->
                <div class="about-section-title col-12 mb-50">
                    <h3>VOUS POUVEZ NOUS CHOISIR PARCE QUE
                        <br>NOUS FOURNISSONS TOUJOURS UNE IMPORTANCE ...
                    </h3>
                    <p>Eco System provide how all this mistaken idea of denouncing pleasure and sing pain was born will give you a complete account of the system, and expound the actual</p>
                </div>

                <!-- About Feature -->
                <div class="about-feature col-lg-7 col-12">
                    <div class="row">



                        <div class="col-md-6 col-12 mb-30">
                            <h4>Produit de qualité
                            </h4>
                            <p>Eco System provide how all this mistaken dea of denouncing pleasure and sing </p>
                        </div>



                        <div class="col-md-6 col-12 mb-30">
                            <h4>24/7 SUPPORT</h4>
                            <p>Eco System provide how all this mistaken dea of denouncing pleasure and sing </p>
                        </div>

                    </div>
                </div>

                <!-- About Feature Banner -->
                <div class="about-feature-banner col-lg-5 col-12 mb-30">
                    <div class="banner"><a href="#"><img src="assets/images/banner/banner-32.jpg" alt="Banner"></a></div>
                </div>

            </div>

        </div>
    </div><!-- About Section End -->
{% endblock %}